<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Star Wars</title>
  </head>
  <body>
    <h1>Star Wars</h1>
    <% results.forEach(function(result){ %>
        <% include ../partials/result %>
    <% }) %>

  </body>
</html>
