<form method="post" action="/teams">
  <div class="form-group">
    <label for="name">Name of Team:</label>
    <input type="text" name="name" id="name" class="form-control" placeholder="Team Name">
  </div>
  <div class="form-group">
    <label for="members">Team Members:</label>
    <input type="text" name="members" id="members" class="form-control" placeholder="Team Memebers">
  </div>
  <input type="submit" value="Make Team!" class="btn btn-success">
</form>
