<h1>News site with WEB 2.0!</h1>

<a href="/new">New Article</a>
<% articles.forEach(function(article, id) { %>
  <div>
    <a href="/articles/<%= id %>"><h2><%= article.title %></h2></a>
  </div>
<% }); %>

<a href="/about">About</a>
